<%- include("partials/header") -%>

<h1>HOME</h1>
<p> <%= startingContent %> </p>

<form action="/delete" method="post">
    <% posts.forEach(function(post){ %>
     <div class="post">
        
        <h1> <input type="checkbox" name="checkbox" value="<%=post._id%>" id="" onchange="this.form.submit()">
              <span class="hovertext" data-hover="By clicking it will delete the blog">
            
          </span>
          <%= post.title %> 
        </h1>
        
     </div>
     <p>
         <%= post.content.substring(0,100) + "..." %> 
         <a href="/posts/<%=post._id%>">Read More</a>
        </p>
    
    <% }) %>
    
</form>
<%- include("partials/footer") -%>